/* line 1, ../../sass/components/chatbot.scss */
body {
  position: relative;
}
/* line 4, ../../sass/components/chatbot.scss */
body #chat {
  position: relative;
  z-index: 9000;
  display: none;
}
/* line 6, ../../sass/components/chatbot.scss */
body #chat .x {
  position: absolute;
  color: black;
  font-size: 14px;
  background-color: #b6b6b6 !important;
  border-radius: 50%;
  line-height: 0;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 19, ../../sass/components/chatbot.scss */
body #chat .card {
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 400px;
}
/* line 24, ../../sass/components/chatbot.scss */
body #chat .card img {
  width: 70%;
}
/* line 28, ../../sass/components/chatbot.scss */
body #chat .card .col-9 p {
  padding: 10px 10px !important;
  font-size: 0.7em;
}
/* line 33, ../../sass/components/chatbot.scss */
body #chat .card .bg-light {
  background-color: #eeeeeeb9 !important;
}
/* line 39, ../../sass/components/chatbot.scss */
body #chat-bot {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: #f1c067;
  z-index: 9000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 52, ../../sass/components/chatbot.scss */
body #chat-bot::after {
  position: relative;
  content: "\f086";
  font-family: fontAwesome;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
