/* line 2, ../../sass/components/posts.scss */
#posts {
  background-color: #171717;
  padding: 100px 0;
  background-image: url("./../../img/post-back.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}
/* line 10, ../../sass/components/posts.scss */
#posts .card {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/* line 14, ../../sass/components/posts.scss */
#posts .card:hover {
  opacity: 0.8;
}
/* line 18, ../../sass/components/posts.scss */
#posts .card .card-body {
  padding-left: 0;
}
/* line 22, ../../sass/components/posts.scss */
#posts .card img {
  border-radius: 7px;
  position: relative;
}
/* line 27, ../../sass/components/posts.scss */
#posts .card .btn {
  background-color: transparent;
  border: 0;
  font-size: 0.7em;
  padding: 0;
  letter-spacing: 1.2px;
}
/* line 36, ../../sass/components/posts.scss */
#posts .btn {
  background-color: transparent;
  border: 0;
  font-size: 0.9em;
  letter-spacing: 1.2px;
}
