/* line 2, ../../sass/components/counter.scss */
#counter {
  background: #000 url("./../../img/dark-img.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 200px 0;
}
/* line 8, ../../sass/components/counter.scss */
#counter .container .card {
  border: 0;
  background-color: transparent;
}
/* line 11, ../../sass/components/counter.scss */
#counter .container .card h1 {
  font-weight: 800;
  font-size: 3em;
}
/* line 16, ../../sass/components/counter.scss */
#counter .container .card p {
  font-weight: 700;
  font-size: 1.5em;
}
