@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
/* line 2, ../../sass/components/underline.scss */
#navbar .underliner {
  box-shadow: inset 0 -20px 0 0 #ffc050;
}
/* line 6, ../../sass/components/navbarStyled.scss */
#navbar .navbar-dark {
  background-color: transparent !important;
}
/* line 8, ../../sass/components/navbarStyled.scss */
#navbar .navbar-dark .navbar-toggler {
  color: #fff;
  font-size: 1.5em;
}
/* line 14, ../../sass/components/navbarStyled.scss */
#navbar .nav-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
}
/* line 23, ../../sass/components/navbarStyled.scss */
#navbar .nav-item {
  opacity: 1;
  transition: opacity 0.5s ease;
  margin: 0 10px;
}
/* line 29, ../../sass/components/navbarStyled.scss */
#navbar .dropdown-menu {
  border-radius: 10px;
  width: max-content !important;
}
/* line 34, ../../sass/components/navbarStyled.scss */
#navbar .navbar-brand {
  font-weight: 800;
}
/* line 38, ../../sass/components/navbarStyled.scss */
#navbar .btn {
  border: 0;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
}
/* line 46, ../../sass/components/navbarStyled.scss */
#navbar .btn-warning {
  background-color: #ff786f;
}
/* line 48, ../../sass/components/navbarStyled.scss */
#navbar .btn-warning:hover {
  background-image: linear-gradient(to right, #ff938c 0%, #f3726a 51%, #d9665f 100%);
}
/* line 58, ../../sass/components/navbarStyled.scss */
#navbar .btn.btn-light {
  background-color: transparent;
  font-size: 1.4em;
  padding: 0;
  margin: 0 !important;
  line-height: 0;
}
/* line 66, ../../sass/components/navbarStyled.scss */
#navbar .nav-item.sec-menus {
  margin: 0;
  align-self: center;
  outline: 0;
}
/* line 73, ../../sass/components/navbarStyled.scss */
#navbar .home:hover .home-menu {
  display: inline !important;
}
/* line 79, ../../sass/components/navbarStyled.scss */
#navbar .pages:hover .pages-menu {
  display: inline !important;
}
/* line 85, ../../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu {
  display: inline !important;
}
/* line 88, ../../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .types:hover .types-menu {
  display: inline !important;
}
/* line 93, ../../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .layouts:hover .layouts-menu {
  display: inline !important;
}
/* line 98, ../../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .single:hover .single-menu {
  display: inline !important;
}
/* line 106, ../../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu {
  display: inline !important;
}
/* line 109, ../../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .layouts:hover .layouts-menu {
  display: inline !important;
}
/* line 114, ../../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .grid:hover .grid-menu {
  display: inline !important;
}
/* line 119, ../../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .single:hover .single-menu {
  display: inline !important;
}
/* line 124, ../../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .pages:hover .pages-menu {
  display: inline !important;
}
/* line 132, ../../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu {
  display: inline !important;
}
/* line 135, ../../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu .standard:hover .standard-menu {
  display: inline !important;
}
/* line 140, ../../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu .formats:hover .formats-menu {
  display: inline !important;
}
/* line 148, ../../sass/components/navbarStyled.scss */
#navbar .elements:hover .elements-menu {
  display: inline !important;
}

/* line 155, ../../sass/components/navbarStyled.scss */
#big-nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.712);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  animation: fadeInRight 0.3s 1;
}
/* line 2, ../../sass/components/underline.scss */
#big-nav .underliner {
  box-shadow: inset 0 -20px 0 0 #ffc050;
}
/* line 166, ../../sass/components/navbarStyled.scss */
#big-nav #close {
  width: 100%;
  height: 100%;
  cursor: url("./../../img/delete-sign.png"), pointer;
}
/* line 171, ../../sass/components/navbarStyled.scss */
#big-nav .card {
  height: 100vh;
}
/* line 173, ../../sass/components/navbarStyled.scss */
#big-nav .card hr {
  color: #000;
}

/* line 180, ../../sass/components/navbarStyled.scss */
#small-nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.712);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  animation: fadeInRight 0.3s 1;
}
/* line 190, ../../sass/components/navbarStyled.scss */
#small-nav #close-sm {
  width: 100%;
  height: 100%;
  cursor: url("./../../img/delete-sign.png"), pointer;
}
/* line 195, ../../sass/components/navbarStyled.scss */
#small-nav .card {
  height: 100vh;
}
/* line 197, ../../sass/components/navbarStyled.scss */
#small-nav .card #x {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 2em;
  cursor: pointer;
}

/* line 207, ../../sass/components/navbarStyled.scss */
.navbar {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* line 212, ../../sass/components/navbarStyled.scss */
.navbar-hide {
  pointer-events: none;
  opacity: 0;
}
