@media (max-width: 768px) {
  // dashboard
  #dashboard {
    background-size: 60%;
    .container {
      .dash__img {
        .img-1 {
          width: 80%;
        }
        .img-2 {
          width: 60%;
        }
      }
      .dash__text {
        .card {
          h1 {
            font-size: 2em;
          }

          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}
