@import "./../animation/animation-zoom-in.scss";
// blog
#posts {
  background-color: #171717;
  padding: 100px 0;
  background-image: url("./../../img/post-back.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  @include underline(#ff786f, -20px);

  h1 {
    font-size: 3em;
    font-weight: 800;
  }

  .card {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    animation: zoomin 0.5s 1;
    &:hover {
      opacity: 0.8;
    }

    .card-body {
      padding-left: 0;
      h3 {
        font-size: 1.8em;
        font-weight: 800;
      }
    }

    img {
      border-radius: 7px;
      position: relative;
    }

    .btn {
      background-color: transparent;
      border: 0;
      font-size: 0.7em;
      padding: 0;
      letter-spacing: 1.2px;

      &:hover {
        .fa-angle-right {
          margin-left: 5px;
          transition: all 0.2s ease-out;
        }
      }
    }
  }

  .btn {
    background-color: transparent;
    border: 0;
    font-size: 0.8em;
    letter-spacing: 1.2px;
    font-weight: 700;
    &:hover {
      .fa-angle-right {
        margin-left: 5px;
        transition: all 0.2s ease-out;
      }
    }
  }
}
