@media (max-width: 576px) {
  /* line 3, ../../sass/media/576px.scss */
  #dashboard {
    background-size: 60%;
  }
  /* line 6, ../../sass/media/576px.scss */
  #dashboard .container .dash__img {
    order: 1;
  }
  /* line 8, ../../sass/media/576px.scss */
  #dashboard .container .dash__img .img-1 {
    width: 40%;
    left: 20%;
  }
  /* line 12, ../../sass/media/576px.scss */
  #dashboard .container .dash__img .img-2 {
    width: 35%;
  }
  /* line 16, ../../sass/media/576px.scss */
  #dashboard .container .dash__text {
    order: 0;
  }
  /* line 19, ../../sass/media/576px.scss */
  #dashboard .container .dash__text .card h1 {
    font-size: 2em;
  }
  /* line 22, ../../sass/media/576px.scss */
  #dashboard .container .dash__text .card p {
    font-size: 1em;
  }

  /* line 35, ../../sass/media/576px.scss */
  #connect .card .card-body .btn,
  #action .card .card-body .btn {
    width: 100%;
  }
}
