@media (max-width: 768px) {
  /* line 3, ../../sass/media/768px.scss */
  #dashboard {
    background-size: 60%;
  }
  /* line 7, ../../sass/media/768px.scss */
  #dashboard .container .dash__img .img-1 {
    width: 80%;
  }
  /* line 10, ../../sass/media/768px.scss */
  #dashboard .container .dash__img .img-2 {
    width: 60%;
  }
  /* line 16, ../../sass/media/768px.scss */
  #dashboard .container .dash__text .card h1 {
    font-size: 2em;
  }
  /* line 20, ../../sass/media/768px.scss */
  #dashboard .container .dash__text .card p {
    font-size: 1em;
  }
}
