@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// universal
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow-x: hidden;
  position: relative;
  font-family: "Muli", sans-serif;
}

// keyframes
@keyframes updown {
  0% {
    height: 750px;
  }
  25% {
    height: 765px;
  }
  50% {
    height: 780px;
  }
  75% {
    height: 765px;
  }
  100% {
    height: 750px;
  }
}

@keyframes button-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes updownphone {
  0% {
    top: 0px;
  }
  25% {
    top: 20px;
  }
  50% {
    top: 40px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

@keyframes updownscroll {
  0% {
    bottom: 100px;
  }
  25% {
    bottom: 90px;
  }
  50% {
    bottom: 80px;
  }
  75% {
    bottom: 90px;
  }
  100% {
    bottom: 100px;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

// background images
.background-img-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
  width: 45%;
  height: 780px;
  animation: updown 4s infinite;
}

.background-img-2 {
  position: absolute;
  left: -300px;
  width: 100vw;
  top: 10%;
  z-index: -100;
}

.background-img-3 {
  position: absolute;
  right: 0;
  top: 32%;
  z-index: -90;
}

.background-img-4 {
  position: absolute;
  left: 0;
  top: 43%;
  z-index: -90;
}

.background-img-5 {
  position: absolute;
  right: 0;
  top: 63%;
  z-index: -90;
}

.background-img-6 {
  position: absolute;
  right: 0;
  top: 90%;
  z-index: -100;
}

// big nav
.big-nav-items {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  z-index: 1000;
  padding: 50px;
  transition: all 1s ease;
  .heading {
    font-weight: 800;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    &::after {
      content: "";
      position: absolute;
      width: 80px;
      background-color: #f5c55e;
      height: 20px;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
  .desc {
    opacity: 0.5;
  }

  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .lists {
    list-style-type: none;
    .list-item {
      margin: 20px 0;
      font-weight: 700;
      font-size: 1.5em;
    }
  }

  .mail,
  .pnumber {
    opacity: 0.6;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0;
  }
}

// naviagtion bar
.navbar-dark {
  background-color: transparent;
  position: relative;
  .navbar-brand {
    &::after {
      content: "";
      width: 50px;
      height: 12px;
      position: absolute;
      bottom: 25px;
      left: 10px;
      z-index: -1;
      background-color: #ffc050;
    }
    font-weight: 900;
    font-family: "Muli", sans-serif;
    font-size: 40px;
  }
  .navbar-toggler {
    border: none;
    color: #fff;
    &:focus {
      outline: none;
    }
  }
  .navbar-nav {
    .nav-item {
      margin: 10px;
      &:hover {
        .dropdown-menu {
          display: block;
          .dropdown-item {
            text-transform: uppercase;
            letter-spacing: 1.1px;
            margin-top: 3px;
            margin-bottom: 3px;
            font-weight: 700;
            font-family: "Muli", sans-serif;
            font-size: 13px;
          }
        }
      }
      .nav-link {
        color: #fff !important;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 13px;
        button {
          background-color: #ff786f;
          &:hover {
            background: linear-gradient(270deg, #ff786f, #4347ea);
            background-size: 400% 400%;
            animation: button-background 3s ease infinite;
          }
          border: none;
          border-radius: 99em;
          padding: 10px 15px;
          color: #fff !important;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-weight: 700;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          font-size: 13px;
          height: 100%;
          max-height: 88px;
        }
        .fa-bars {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 42px;
          font-size: 25px;
          font-weight: 200;
        }
      }
    }
  }
}

// display-section
.display-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  .img-container {
    position: relative;
    top: 0;
    left: 0;
    .img-top {
      width: 270px;
      position: relative;
      top: 0;
      left: 0;
      animation: updownphone 10s infinite;
    }
    .img-bottom {
      width: 270px;
      position: absolute;
      top: 30px;
      left: 200px;
      z-index: -100;
      animation: updownphone 7s infinite;
    }
  }
  .main-text {
    position: relative;
    font-size: 60px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    .dash-back::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 70%;
      height: 20px;
      background-color: rgb(255, 120, 111);
      z-index: -1;
    }
  }
  .small-text {
    margin: 50px 0;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  }
  .scroll-icon {
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff;
    animation: updownscroll 7s infinite;
    img {
      width: 50%;
    }
  }
}

// counter
.counter-section {
  display: flex;
  align-items: center;
  height: 40vh;
  .counter h1,
  .name p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-weight: 900;
  }

  .name p {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1.1px;
  }
}

// unique features
.unique-features {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  .heading {
    margin: 30px;
    font-weight: 800;
    .unique::after {
      content: "";
      position: absolute;
      top: 150px;
      left: 36%;
      width: 135px;
      height: 20px;
      background-color: rgb(255, 120, 111);
      z-index: -1;
    }
  }

  .col-md-4 {
    padding: 20px;
  }

  .title h1 {
    font-size: 1.5em;
  }

  .desc p {
    font-size: 0.9em;
  }

  .icon {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffc050;
  }
}

// phone
.phone {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 105%;
    animation: fadeInLeft 1s 1;
  }

  .text {
    animation: updownscroll 9s infinite;
  }

  &__heading {
    position: relative;
    margin: 50px 0;
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    .connect::before {
      content: "";
      position: absolute;
      background-color: #ff786f;
      height: 20px;
      width: 4em;
      top: 0.9em;
      z-index: -1;
    }
  }

  &__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  &__list {
    list-style-type: none;
    &__item {
      color: #fff;
      margin: 5px;
    }
  }

  &__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff;

    &.btn-primary {
      &:hover {
        background-color: #c5933b;
      }
    }
  }
}

// video
.video {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    width: 720px;
    height: 600px;
  }

  &__heading {
    width: 75%;
    color: #fff;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-size: 3em;
    position: relative;
    .action::after {
      content: "";
      background-color: #ff786f;
      position: absolute;
      width: 3.2em;
      height: 20px;
      z-index: -1;
      bottom: 10px;
      left: 0;
    }
  }

  &__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  &__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff;

    &.btn-primary {
      &:hover {
        background-color: #c5933b;
      }
    }
  }
}

// post
.post {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  &__section {
    margin-bottom: 50px;
  }
  &__heading {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
  }

  &__desc {
    margin-bottom: 50px;
  }

  .card {
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    img {
      border-radius: 5px;
    }

    .small {
      font-size: 0.7em;
      opacity: 0.7;
    }

    .btn {
      padding: 0;
      font-size: 0.7em;
      font-weight: 800;
      text-transform: uppercase;
    }

    &__button {
      background-color: transparent;
      border: none;
    }
  }

  &__more {
    .btn {
      padding: 0;
      font-size: 0.7em;
      font-weight: 800;
      text-transform: uppercase;
      &:hover {
        background-color: transparent;
      }
    }

    p {
      background-color: transparent;
      border: none;
    }
  }
}

// first-footer
.ffooter {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    position: absolute;
    top: 120px;
    left: -280px;
    content: "";
    z-index: -100;
    width: 100vw;
    height: 100px;
    background-color: #ff786f;
  }

  p {
    color: #fff;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
  }

  .img-holder {
    display: flex;
  }
}

// footer
footer {
  height: 100px;
  color: #fff;
  .icons {
    float: right;
    color: #000;
    display: flex;
    .icon {
      background-color: #fff;
      padding: 10px;
      border-radius: 50%;
      z-index: -100;
      font-size: 20px;
      margin: 5px;
      width: 50px;
      text-align: center;
    }
  }
}
// media
@media (max-width: 768px) {
  .scroll-icon {
    display: none;
  }

  .background-img-1 {
    width: 70% !important;
    height: 50% !important;
  }

  .counter-section {
    height: 100vh;
  }
}
