@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
  font-family: "Muli", sans-serif !important; }
  body h1 {
    font-size: 3em;
    font-weight: 800; }
  body p {
    font-size: 1em; }
  body a {
    color: #fff; }
    body a:hover {
      color: #ccc;
      text-decoration: none; }

.pageLoader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .pageLoader__cubes {
    position: absolute;
    top: calc(50%-40px);
    left: calc(50%-40px);
    width: 80px;
    height: 80px;
    transform: rotate(45deg); }
  .pageLoader__cube {
    list-style: none;
    position: relative;
    width: 40px;
    height: 40px;
    float: left; }
    .pageLoader__cube::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: 100% 100%;
      animation: animate 3.3s linear infinite; }
    .pageLoader__cube:nth-child(1) {
      transform: rotate(0deg); }
      .pageLoader__cube:nth-child(1)::before {
        animation-delay: 0s;
        background-color: #ff786f; }
    .pageLoader__cube:nth-child(2) {
      transform: rotate(90deg); }
      .pageLoader__cube:nth-child(2)::before {
        animation-delay: 0.4s;
        background-color: #ff786f; }
    .pageLoader__cube:nth-child(3) {
      transform: rotate(270deg); }
      .pageLoader__cube:nth-child(3)::before {
        animation-delay: 1.2s;
        background-color: #ff786f; }
    .pageLoader__cube:nth-child(4) {
      transform: rotate(180deg); }
      .pageLoader__cube:nth-child(4)::before {
        animation-delay: 0.8s;
        background-color: #ff786f; }

@keyframes animate {
  0% {
    transform: perspective(200px) rotateX(0deg);
    opacity: 0; }
  10% {
    transform: perspective(200px) rotateX(-180deg);
    opacity: 0; }
  25% {
    transform: perspective(200px) rotateX(0deg);
    opacity: 1; }
  75% {
    transform: perspective(200px) rotateX(0deg);
    opacity: 1; }
  90% {
    transform: perspective(200px) rotateY(180deg);
    opacity: 0; }
  100% {
    transform: perspective(200px) rotateY(0deg);
    opacity: 0; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: translateZ(0); } }
@keyframes button-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.big-nav-items {
  color: #000;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  width: 500px;
  z-index: 1000;
  padding: 50px;
  animation: fadeInRight 0.3s 1; }
  .big-nav-items .heading {
    font-weight: 800;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px; }
    .big-nav-items .heading::after {
      content: "";
      position: absolute;
      width: 80px;
      background-color: #f5c55e;
      height: 20px;
      bottom: 0;
      left: 0;
      z-index: -1; }
  .big-nav-items .desc {
    opacity: 0.5; }
  .big-nav-items hr {
    margin-top: 50px;
    margin-bottom: 50px; }
  .big-nav-items a {
    color: #000; }
    .big-nav-items a:hover {
      opacity: 0.9; }
  .big-nav-items .lists {
    list-style-type: none; }
    .big-nav-items .lists .list-item {
      margin: 20px 0;
      font-weight: 700;
      font-size: 1.5em; }
  .big-nav-items .mail,
  .big-nav-items .pnumber {
    opacity: 0.6;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0; }

.small-nav-items {
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  padding: 50px;
  animation: fadeInRight 0.3s 1; }
  .small-nav-items h3 {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .small-nav-items .lists {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none; }
    .small-nav-items .lists .list-item {
      margin: 20px 0;
      font-weight: 700;
      font-size: 1.5em; }
  .small-nav-items a {
    color: #000; }
    .small-nav-items a:hover {
      text-decoration: none; }

.navbar-dark {
  background-color: transparent;
  position: relative; }
  .navbar-dark .navbar-brand {
    color: #000;
    font-weight: 900;
    font-family: "Muli", sans-serif;
    font-size: 40px; }
    .navbar-dark .navbar-brand:hover {
      color: #000; }
    .navbar-dark .navbar-brand::after {
      content: "";
      width: 50px;
      height: 12px;
      position: absolute;
      bottom: 25px;
      left: 10px;
      z-index: -1;
      background-color: #ffc050; }
  .navbar-dark .navbar-toggler {
    border: none;
    color: #000; }
    .navbar-dark .navbar-toggler:focus {
      outline: none; }
  .navbar-dark .navbar-nav .nav-item {
    margin: 10px; }
    .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu {
      display: block; }
      .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 700;
        font-family: "Muli", sans-serif;
        font-size: 13px; }
    .navbar-dark .navbar-nav .nav-item .nav-link {
      color: #000 !important;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-weight: 700;
      font-size: 13px; }
      .navbar-dark .navbar-nav .nav-item .nav-link button {
        background-color: #ff786f;
        border: none;
        border-radius: 99em;
        padding: 10px 15px;
        color: #fff !important;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-weight: 700;
        font-size: 13px;
        height: 100%;
        max-height: 88px; }
        .navbar-dark .navbar-nav .nav-item .nav-link button:hover {
          background: linear-gradient(270deg, #ff786f, #4347ea);
          background-size: 400% 400%;
          animation: button-background 3s ease infinite; }
      .navbar-dark .navbar-nav .nav-item .nav-link .fa-bars {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        font-size: 25px;
        font-weight: 200; }

.jumbotron {
  background-color: transparent;
  padding: 100px 0; }
  .jumbotron h1 {
    font-weight: 800 !important; }

.blog .card {
  border: none; }
  .blog .card .audioPlayer {
    width: 100%;
    height: 500px;
    background-image: url("./../../img/headphone_3_02-1-e1563293035458.jpg");
    background-size: cover;
    position: relative;
    border-radius: 7px; }
  .blog .card .audioPlayer audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0; }
  .blog .card .embed-responsive {
    border-radius: 7px; }
  .blog .card .carousel-control-next-icon {
    background-image: url("https://image.flaticon.com/icons/svg/54/54833.svg") !important; }
  .blog .card .carousel-control-prev-icon {
    background-image: url("https://image.flaticon.com/icons/svg/25/25322.svg") !important; }
  .blog .card .carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    background-color: #444 !important;
    margin: 0 7px; }
  .blog .card:not(:first-of-type) {
    margin: 50px 0; }
  .blog .card img {
    border-radius: 7px; }
  .blog .card .card-body h5 {
    font-size: 2em;
    font-weight: 700; }
  .blog .card .card-body p {
    font-weight: 300;
    line-height: 1.7; }
  .blog .card .card-body .btn {
    background-color: transparent;
    border: 0;
    color: #000;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1.2px;
    font-weight: 700; }
    .blog .card .card-body .btn .icon {
      font-size: 1.2em;
      font-weight: 900; }
    .blog .card .card-body .btn:hover .icon {
      margin-left: 5px !important;
      transition: margin-left 0.3s ease; }
.blog .quotes {
  background-color: rgba(238, 238, 238, 0.219); }
  .blog .quotes__content {
    padding: 0 50px; }
    .blog .quotes__content .svg-inline--fa {
      font-size: 2em;
      color: #ffc050; }
.blog .link {
  padding: 50px 0 !important;
  background-image: url("./../../../img/rafael-pol-6b5uqlWabB0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 1.5em; }

.sidebar h1 {
  font-size: 1.2em !important;
  margin-bottom: 20px; }
.sidebar img {
  padding: 5px 5px;
  border-radius: 7px; }
.sidebar ul {
  list-style-type: none; }
  .sidebar ul li {
    margin: 10px 0; }
.sidebar .categories li::before {
  font-family: fontAwesome;
  content: "\f054";
  font-size: 0.8em;
  opacity: 0.5;
  margin-right: 10px; }
.sidebar input {
  margin-top: 30px;
  padding: 20px 10px;
  border-radius: 100px;
  border: 1px solid #00000022; }

.bg {
  background-color: #081f26;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100%;
  margin-top: 100px;
  left: 50%;
  padding: 30px 0;
  z-index: -1000;
  color: #fff; }
  .bg footer {
    height: 100%;
    margin: 50px 0; }
    .bg footer .icons {
      float: right;
      color: #000;
      display: flex; }
      .bg footer .icons .icon {
        background-color: #fff;
        padding: 10px;
        border-radius: 50%;
        z-index: -100;
        font-size: 20px;
        margin: 5px;
        width: 50px;
        text-align: center; }
    .bg footer h5 {
      font-weight: 700;
      margin-bottom: 30px; }
    .bg footer ul {
      list-style-type: none; }
      .bg footer ul li {
        margin: 10px 0; }
    .bg footer .t-icon {
      color: #00aeff; }
    .bg footer .fooooter {
      margin-top: 100px; }

@media (max-width: 992px) {
  .show {
    display: none !important; } }
@media (max-width: 576px) {
  .tooooper > div {
    margin: 30px 0; }

  img {
    width: 50% !important; } }

/*# sourceMappingURL=post-main.css.map */
