@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,577;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,577;1,600;1,700;1,800;1,900&display=swap");
/* line 3, ../sass/components/universal.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/components/universal.scss */
body {
  background-color: #000;
  font-family: "Muli", sans-serif;
  position: relative;
}

/* line 14, ../sass/components/universal.scss */
html {
  scroll-behavior: smooth;
}

/* line 2, ../sass/components/underline.scss */
#navbar .underliner {
  box-shadow: inset 0 -20px 0 0 #ffc050;
}
/* line 4, ../sass/components/navbarStyled.scss */
#navbar .navbar-dark {
  background-color: transparent !important;
}
/* line 6, ../sass/components/navbarStyled.scss */
#navbar .navbar-dark .navbar-toggler {
  color: #fff;
  font-size: 1.5em;
}
/* line 12, ../sass/components/navbarStyled.scss */
#navbar .nav-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
}
/* line 21, ../sass/components/navbarStyled.scss */
#navbar .nav-item {
  opacity: 1;
  transition: opacity 0.5s ease;
  margin: 0 10px;
}
/* line 27, ../sass/components/navbarStyled.scss */
#navbar .dropdown-menu {
  border-radius: 10px;
  width: max-content !important;
}
/* line 32, ../sass/components/navbarStyled.scss */
#navbar .navbar-brand {
  font-weight: 800;
}
/* line 36, ../sass/components/navbarStyled.scss */
#navbar .btn {
  border: 0;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
}
/* line 44, ../sass/components/navbarStyled.scss */
#navbar .btn-warning {
  background-color: #ff786f;
}
/* line 46, ../sass/components/navbarStyled.scss */
#navbar .btn-warning:hover {
  background-image: linear-gradient(to right, #ff938c 0%, #f3726a 51%, #d9665f 100%);
}
/* line 56, ../sass/components/navbarStyled.scss */
#navbar .btn.btn-light {
  background-color: transparent;
  font-size: 1.4em;
  padding: 0;
  margin: 0 !important;
  line-height: 0;
}
/* line 64, ../sass/components/navbarStyled.scss */
#navbar .nav-item.sec-menus {
  margin: 0;
  align-self: center;
  outline: 0;
}
/* line 71, ../sass/components/navbarStyled.scss */
#navbar .home:hover .home-menu {
  display: inline !important;
}
/* line 77, ../sass/components/navbarStyled.scss */
#navbar .pages:hover .pages-menu {
  display: inline !important;
}
/* line 83, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu {
  display: inline !important;
}
/* line 86, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .types:hover .types-menu {
  display: inline !important;
}
/* line 91, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .layouts:hover .layouts-menu {
  display: inline !important;
}
/* line 96, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .single:hover .single-menu {
  display: inline !important;
}
/* line 104, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu {
  display: inline !important;
}
/* line 107, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .layouts:hover .layouts-menu {
  display: inline !important;
}
/* line 112, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .grid:hover .grid-menu {
  display: inline !important;
}
/* line 117, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .single:hover .single-menu {
  display: inline !important;
}
/* line 122, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .pages:hover .pages-menu {
  display: inline !important;
}
/* line 130, ../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu {
  display: inline !important;
}
/* line 133, ../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu .standard:hover .standard-menu {
  display: inline !important;
}
/* line 138, ../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu .formats:hover .formats-menu {
  display: inline !important;
}
/* line 146, ../sass/components/navbarStyled.scss */
#navbar .elements:hover .elements-menu {
  display: inline !important;
}

/* line 153, ../sass/components/navbarStyled.scss */
#big-nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.712);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}
/* line 162, ../sass/components/navbarStyled.scss */
#big-nav #close {
  width: 100%;
  height: 100%;
  cursor: url("./../../img/delete-sign.png"), pointer;
}
/* line 167, ../sass/components/navbarStyled.scss */
#big-nav .card {
  height: 100vh;
}
/* line 169, ../sass/components/navbarStyled.scss */
#big-nav .card hr {
  color: #000;
}

/* line 176, ../sass/components/navbarStyled.scss */
#small-nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.712);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}
/* line 185, ../sass/components/navbarStyled.scss */
#small-nav #close-sm {
  width: 100%;
  height: 100%;
  cursor: url("./../../img/delete-sign.png"), pointer;
}
/* line 190, ../sass/components/navbarStyled.scss */
#small-nav .card {
  height: 100vh;
}
/* line 192, ../sass/components/navbarStyled.scss */
#small-nav .card #x {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 2em;
  cursor: pointer;
}

/* line 202, ../sass/components/navbarStyled.scss */
.navbar {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* line 207, ../sass/components/navbarStyled.scss */
.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

/* line 2, ../sass/components/dashboard.scss */
#dashboard {
  background: url("./../../img/dash-back.png");
  background-size: 50%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
/* line 2, ../sass/components/underline.scss */
#dashboard .underliner {
  box-shadow: inset 0 -25px 0 0 #ff786f;
}
/* line 16, ../sass/components/dashboard.scss */
#dashboard .container .dash__img .img-1 {
  position: relative;
  z-index: 10;
}
/* line 20, ../sass/components/dashboard.scss */
#dashboard .container .dash__img .img-2 {
  position: absolute;
  top: 20px;
  left: 46%;
  z-index: 9;
}
/* line 28, ../sass/components/dashboard.scss */
#dashboard .container .dash__text .card {
  border: 0;
  background-color: transparent;
}
/* line 31, ../sass/components/dashboard.scss */
#dashboard .container .dash__text .card h1 {
  font-size: 4em;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.3px;
}
/* line 38, ../sass/components/dashboard.scss */
#dashboard .container .dash__text .card p {
  margin: 30px 0;
  font-size: 1.3em;
}

/* line 2, ../sass/components/counter.scss */
#counter {
  background: #000 url("./../../img/dark-img.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 200px 0;
}
/* line 8, ../sass/components/counter.scss */
#counter .container .card {
  border: 0;
  background-color: transparent;
}
/* line 11, ../sass/components/counter.scss */
#counter .container .card h1 {
  font-weight: 800;
  font-size: 3em;
}
/* line 16, ../sass/components/counter.scss */
#counter .container .card p {
  font-weight: 700;
  font-size: 1.5em;
}

/* line 2, ../sass/components/features.scss */
#features {
  padding: 0 0 100px 0;
  background: #171717 url("./../../img/action-back.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}
/* line 8, ../sass/components/features.scss */
#features .top {
  padding: 0 0 50px 0;
}
/* line 12, ../sass/components/features.scss */
#features .container .card {
  background-color: transparent;
  border: 0;
}

/* line 2, ../sass/components/connect.scss */
#connect {
  background-color: #171717;
  background-image: url("./../../img/post-back.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  color: #f7f7f7;
  padding: 100px 0;
}
/* line 10, ../sass/components/connect.scss */
#connect .container {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 13, ../sass/components/connect.scss */
#connect .container img {
  width: 100%;
}
/* line 16, ../sass/components/connect.scss */
#connect .container .card {
  background-color: transparent;
  border: 0;
}
/* line 20, ../sass/components/connect.scss */
#connect .container .card .list-group {
  margin: 40px 0;
}
/* line 22, ../sass/components/connect.scss */
#connect .container .card .list-group .list-group-item {
  padding: 5px 0;
  background-color: transparent;
  border: 0;
}

/* line 2, ../sass/components/action.scss */
#action {
  background-color: #171717;
  color: #f7f7f7;
  padding: 100px 0;
  background-image: url("./../../img/action-back.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
/* line 10, ../sass/components/action.scss */
#action .card {
  background-color: transparent;
  border: 0;
}

/* line 2, ../sass/components/posts.scss */
#posts {
  background-color: #171717;
  padding: 100px 0;
  background-image: url("./../../img/post-back.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}
/* line 10, ../sass/components/posts.scss */
#posts .card {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/* line 14, ../sass/components/posts.scss */
#posts .card:hover {
  opacity: 0.8;
}
/* line 18, ../sass/components/posts.scss */
#posts .card .card-body {
  padding-left: 0;
}
/* line 22, ../sass/components/posts.scss */
#posts .card img {
  border-radius: 7px;
  position: relative;
}
/* line 27, ../sass/components/posts.scss */
#posts .card .btn {
  background-color: transparent;
  border: 0;
  font-size: 0.7em;
  padding: 0;
  letter-spacing: 1.2px;
}
/* line 36, ../sass/components/posts.scss */
#posts .btn {
  background-color: transparent;
  border: 0;
  font-size: 0.9em;
  letter-spacing: 1.2px;
}

/* line 1, ../sass/components/download.scss */
#download {
  background-color: #ff786f;
  padding: 50px 0 100px 0;
}
/* line 4, ../sass/components/download.scss */
#download img {
  width: fit-content;
  max-width: 200px;
}

/* line 2, ../sass/components/footerStyled.scss */
#footer .bg-dark {
  background-color: #081f26 !important;
}
/* line 5, ../sass/components/footerStyled.scss */
#footer .container {
  padding: 30px 0;
  font-size: 0.8em;
}
/* line 11, ../sass/components/footerStyled.scss */
#footer .footer__social__link {
  font-size: 1.5em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* line 18, ../sass/components/footerStyled.scss */
#footer .footer__social__link:hover .bg-white {
  background-color: #081f269f !important;
}
/* line 23, ../sass/components/footerStyled.scss */
#footer .footer .p-3 {
  padding: 5px !important;
}

@media (max-width: 768px) {
  /* line 3, ../sass/media/768px.scss */
  #dashboard {
    background-size: 60%;
  }
  /* line 7, ../sass/media/768px.scss */
  #dashboard .container .dash__img .img-1 {
    width: 80%;
  }
  /* line 10, ../sass/media/768px.scss */
  #dashboard .container .dash__img .img-2 {
    width: 60%;
  }
  /* line 16, ../sass/media/768px.scss */
  #dashboard .container .dash__text .card h1 {
    font-size: 2em;
  }
  /* line 20, ../sass/media/768px.scss */
  #dashboard .container .dash__text .card p {
    font-size: 1em;
  }
}
@media (max-width: 576px) {
  /* line 3, ../sass/media/576px.scss */
  #dashboard {
    background-size: 60%;
  }
  /* line 6, ../sass/media/576px.scss */
  #dashboard .container .dash__img {
    order: 1;
  }
  /* line 8, ../sass/media/576px.scss */
  #dashboard .container .dash__img .img-1 {
    width: 40%;
    left: 20%;
  }
  /* line 12, ../sass/media/576px.scss */
  #dashboard .container .dash__img .img-2 {
    width: 35%;
  }
  /* line 16, ../sass/media/576px.scss */
  #dashboard .container .dash__text {
    order: 0;
  }
  /* line 19, ../sass/media/576px.scss */
  #dashboard .container .dash__text .card h1 {
    font-size: 2em;
  }
  /* line 22, ../sass/media/576px.scss */
  #dashboard .container .dash__text .card p {
    font-size: 1em;
  }
}
/* line 19, ../sass/main.scss */
#orange-img {
  background-color: #171717;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 24, ../sass/main.scss */
#orange-img img {
  width: 100%;
}
