@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,577;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,577;1,600;1,700;1,800;1,900&display=swap");
/* line 3, ../sass/components/universal.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 9, ../sass/components/universal.scss */
body {
  background-color: #000;
  font-family: "Muli", sans-serif;
}

/* line 8, ../sass/components/loader.scss */
.cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 0;
}
/* line 14, ../sass/components/loader.scss */
.cube-folding span {
  position: relative;
  width: 25px;
  height: 25px;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  display: inline-block;
}
/* line 20, ../sass/components/loader.scss */
.cube-folding span::before {
  content: "";
  background-color: #ff786f;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-animation: folding 2.5s infinite linear both;
  -webkit-animation: folding 2.5s infinite linear both;
  animation: folding 2.5s infinite linear both;
}
/* line 36, ../sass/components/loader.scss */
.cube-folding .leaf2 {
  -moz-transform: rotateZ(90deg) scale(1.1);
  -ms-transform: rotateZ(90deg) scale(1.1);
  -webkit-transform: rotateZ(90deg) scale(1.1);
  transform: rotateZ(90deg) scale(1.1);
}
/* line 38, ../sass/components/loader.scss */
.cube-folding .leaf2::before {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #ff6056;
}
/* line 43, ../sass/components/loader.scss */
.cube-folding .leaf3 {
  -moz-transform: rotateZ(270deg) scale(1.1);
  -ms-transform: rotateZ(270deg) scale(1.1);
  -webkit-transform: rotateZ(270deg) scale(1.1);
  transform: rotateZ(270deg) scale(1.1);
}
/* line 45, ../sass/components/loader.scss */
.cube-folding .leaf3::before {
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background-color: #ff6056;
}
/* line 50, ../sass/components/loader.scss */
.cube-folding .leaf4 {
  -moz-transform: rotateZ(180deg) scale(1.1);
  -ms-transform: rotateZ(180deg) scale(1.1);
  -webkit-transform: rotateZ(180deg) scale(1.1);
  transform: rotateZ(180deg) scale(1.1);
}
/* line 52, ../sass/components/loader.scss */
.cube-folding .leaf4::before {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: #ff483c;
}

@-moz-keyframes folding {
  0%,
  10% {
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes folding {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes folding {
  0%,
  10% {
    -moz-transform: perspective(140px) rotateX(-180deg);
    -ms-transform: perspective(140px) rotateX(-180deg);
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    -ms-transform: perspective(140px) rotateX(0deg);
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(140px) rotateY(180deg);
    -ms-transform: perspective(140px) rotateY(180deg);
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* line 79, ../sass/components/loader.scss */
.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 9999;
}
/* line 90, ../sass/components/loader.scss */
.cube-wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 90px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
  -moz-animation: shadow 0.5s ease infinite alternate;
  -webkit-animation: shadow 0.5s ease infinite alternate;
  animation: shadow 0.5s ease infinite alternate;
}
/* line 105, ../sass/components/loader.scss */
.cube-wrapper .loading {
  font-size: 12px;
  letter-spacing: 0.1em;
  display: block;
  color: #ff786f;
  position: relative;
  top: 25px;
  z-index: 2;
  -moz-animation: text 0.5s ease infinite alternate;
  -webkit-animation: text 0.5s ease infinite alternate;
  animation: text 0.5s ease infinite alternate;
}

@-moz-keyframes text {
  100% {
    top: 35px;
  }
}
@-webkit-keyframes text {
  100% {
    top: 35px;
  }
}
@keyframes text {
  100% {
    top: 35px;
  }
}
@-moz-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@-webkit-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
/* line 1, ../sass/components/background.scss */
#background {
  position: relative;
  height: 100vh;
}
/* line 4, ../sass/components/background.scss */
#background::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
}

/* line 2, ../sass/components/underline.scss */
.underliner {
  box-shadow: inset 0 -15px 0 0 #ffc050;
}

/* line 2, ../sass/components/underline.scss */
#navbar .underliner {
  box-shadow: inset 0 -15px 0 0 #ffc050;
}
/* line 4, ../sass/components/navbarStyled.scss */
#navbar .navbar-dark {
  background-color: transparent !important;
}
/* line 6, ../sass/components/navbarStyled.scss */
#navbar .navbar-dark .navbar-toggler {
  color: #fff;
  font-size: 1.5em;
}
/* line 12, ../sass/components/navbarStyled.scss */
#navbar .nav-link {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
}
/* line 21, ../sass/components/navbarStyled.scss */
#navbar .nav-item {
  opacity: 1;
  transition: opacity 0.5s ease;
  margin: 0 10px;
}
/* line 27, ../sass/components/navbarStyled.scss */
#navbar .dropdown-menu {
  border-radius: 10px;
  width: max-content !important;
}
/* line 32, ../sass/components/navbarStyled.scss */
#navbar .navbar-brand {
  font-weight: 800;
}
/* line 36, ../sass/components/navbarStyled.scss */
#navbar .btn {
  border: 0;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
}
/* line 44, ../sass/components/navbarStyled.scss */
#navbar .btn-warning {
  background-color: #ff786f;
}
/* line 46, ../sass/components/navbarStyled.scss */
#navbar .btn-warning:hover {
  background-image: linear-gradient(to right, #ff938c 0%, #f3726a 51%, #d9665f 100%);
}
/* line 56, ../sass/components/navbarStyled.scss */
#navbar .btn.btn-light {
  background-color: transparent;
  font-size: 1.4em;
  padding: 0;
  margin: 0 !important;
  line-height: 0;
}
/* line 64, ../sass/components/navbarStyled.scss */
#navbar .nav-item.sec-menus {
  margin: 0;
  align-self: center;
  outline: 0;
}
/* line 71, ../sass/components/navbarStyled.scss */
#navbar .home:hover .home-menu {
  display: inline !important;
}
/* line 77, ../sass/components/navbarStyled.scss */
#navbar .pages:hover .pages-menu {
  display: inline !important;
}
/* line 83, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu {
  display: inline !important;
}
/* line 86, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .types:hover .types-menu {
  display: inline !important;
}
/* line 91, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .layouts:hover .layouts-menu {
  display: inline !important;
}
/* line 96, ../sass/components/navbarStyled.scss */
#navbar .portfolio:hover .portfolio-menu .single:hover .single-menu {
  display: inline !important;
}
/* line 104, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu {
  display: inline !important;
}
/* line 107, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .layouts:hover .layouts-menu {
  display: inline !important;
}
/* line 112, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .grid:hover .grid-menu {
  display: inline !important;
}
/* line 117, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .single:hover .single-menu {
  display: inline !important;
}
/* line 122, ../sass/components/navbarStyled.scss */
#navbar .shop:hover .shop-menu .pages:hover .pages-menu {
  display: inline !important;
}
/* line 130, ../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu {
  display: inline !important;
}
/* line 133, ../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu .standard:hover .standard-menu {
  display: inline !important;
}
/* line 138, ../sass/components/navbarStyled.scss */
#navbar .blog:hover .blog-menu .formats:hover .formats-menu {
  display: inline !important;
}
/* line 146, ../sass/components/navbarStyled.scss */
#navbar .elements:hover .elements-menu {
  display: inline !important;
}

/* line 153, ../sass/components/navbarStyled.scss */
#big-nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.712);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}
/* line 162, ../sass/components/navbarStyled.scss */
#big-nav #close {
  width: 100%;
  height: 100%;
  cursor: url("./../../img/delete-sign.png"), pointer;
}
/* line 167, ../sass/components/navbarStyled.scss */
#big-nav .card {
  height: 100vh;
}
/* line 169, ../sass/components/navbarStyled.scss */
#big-nav .card hr {
  color: #000;
}

/* line 176, ../sass/components/navbarStyled.scss */
#small-nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.712);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
}
/* line 185, ../sass/components/navbarStyled.scss */
#small-nav #close-sm {
  width: 100%;
  height: 100%;
  cursor: url("./../../img/delete-sign.png"), pointer;
}
/* line 190, ../sass/components/navbarStyled.scss */
#small-nav .card {
  height: 100vh;
}
/* line 192, ../sass/components/navbarStyled.scss */
#small-nav .card #x {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 2em;
  cursor: pointer;
}

/* line 2, ../sass/components/dashboard.scss */
#dashboard {
  background: url("./../../img/dash-back.png");
  background-size: 50%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
/* line 15, ../sass/components/dashboard.scss */
#dashboard .container .dash__img .img-1 {
  position: relative;
  z-index: 10;
}
/* line 19, ../sass/components/dashboard.scss */
#dashboard .container .dash__img .img-2 {
  position: absolute;
  top: 20px;
  left: 46%;
  z-index: 9;
}
/* line 27, ../sass/components/dashboard.scss */
#dashboard .container .dash__text .card {
  border: 0;
  background-color: transparent;
}

/* line 2, ../sass/components/counter.scss */
#counter {
  background: #000 url("./../../img/dark-img.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 200px 0;
}
/* line 8, ../sass/components/counter.scss */
#counter .container .card {
  border: 0;
  background-color: transparent;
}

/* line 2, ../sass/components/features.scss */
#features {
  padding: 0 0 100px 0;
  background: #171717 url("./../../img/action-back.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}
/* line 8, ../sass/components/features.scss */
#features .top {
  padding: 0 0 50px 0;
}
/* line 12, ../sass/components/features.scss */
#features .container .card {
  background-color: transparent;
  border: 0;
}

/* line 2, ../sass/components/connect.scss */
#connect {
  background-color: #171717;
  background-image: url("./../../img/post-back.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  color: #f7f7f7;
  padding: 100px 0;
}
/* line 10, ../sass/components/connect.scss */
#connect .container {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 13, ../sass/components/connect.scss */
#connect .container img {
  width: 100%;
}
/* line 16, ../sass/components/connect.scss */
#connect .container .card {
  background-color: transparent;
  border: 0;
}
/* line 20, ../sass/components/connect.scss */
#connect .container .card .list-group {
  margin: 40px 0;
}
/* line 22, ../sass/components/connect.scss */
#connect .container .card .list-group .list-group-item {
  padding: 5px 0;
  background-color: transparent;
  border: 0;
}

/* line 2, ../sass/components/action.scss */
#action {
  background-color: #171717;
  color: #f7f7f7;
  padding: 100px 0;
  background-image: url("./../../img/action-back.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
/* line 10, ../sass/components/action.scss */
#action .card {
  background-color: transparent;
  border: 0;
}

/* line 2, ../sass/components/posts.scss */
#posts {
  background-color: #171717;
  padding: 100px 0;
  background-image: url("./../../img/post-back.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}
/* line 10, ../sass/components/posts.scss */
#posts .card {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/* line 14, ../sass/components/posts.scss */
#posts .card:hover {
  opacity: 0.8;
}
/* line 18, ../sass/components/posts.scss */
#posts .card .card-body {
  padding-left: 0;
}
/* line 22, ../sass/components/posts.scss */
#posts .card img {
  border-radius: 7px;
  position: relative;
}
/* line 27, ../sass/components/posts.scss */
#posts .card .btn {
  background-color: transparent;
  border: 0;
  font-size: 0.7em;
  padding: 0;
  letter-spacing: 1.2px;
}
/* line 36, ../sass/components/posts.scss */
#posts .btn {
  background-color: transparent;
  border: 0;
  font-size: 0.9em;
  letter-spacing: 1.2px;
}

/* line 1, ../sass/components/download.scss */
#download {
  background-color: #ff786f;
  padding: 50px 0 100px 0;
}
/* line 4, ../sass/components/download.scss */
#download img {
  width: fit-content;
  max-width: 200px;
}

/* line 2, ../sass/components/footerStyled.scss */
#footer .bg-dark {
  background-color: #081f26 !important;
}
/* line 5, ../sass/components/footerStyled.scss */
#footer .container {
  padding: 30px 0;
  font-size: 0.8em;
}
/* line 11, ../sass/components/footerStyled.scss */
#footer .footer__social__link {
  font-size: 1.5em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* line 18, ../sass/components/footerStyled.scss */
#footer .footer__social__link:hover .bg-white {
  background-color: #081f269f !important;
}
/* line 23, ../sass/components/footerStyled.scss */
#footer .footer .p-3 {
  padding: 5px !important;
}

/* line 1, ../sass/components/chatbot.scss */
body {
  position: relative;
}
/* line 4, ../sass/components/chatbot.scss */
body #chat {
  position: relative;
  z-index: 9000;
  display: none;
}
/* line 6, ../sass/components/chatbot.scss */
body #chat .x {
  position: absolute;
  color: black;
  font-size: 14px;
  background-color: #b6b6b6 !important;
  border-radius: 50%;
  line-height: 0;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 19, ../sass/components/chatbot.scss */
body #chat .card {
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 400px;
}
/* line 24, ../sass/components/chatbot.scss */
body #chat .card img {
  width: 70%;
}
/* line 28, ../sass/components/chatbot.scss */
body #chat .card .col-9 p {
  padding: 10px 10px !important;
  font-size: 0.7em;
}
/* line 33, ../sass/components/chatbot.scss */
body #chat .card .bg-light {
  background-color: #eeeeeeb9 !important;
}
/* line 39, ../sass/components/chatbot.scss */
body #chat-bot {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: #f1c067;
  z-index: 9000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 52, ../sass/components/chatbot.scss */
body #chat-bot::after {
  position: relative;
  content: "\f086";
  font-family: fontAwesome;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* line 2, ../sass/media/768px.scss */
  #dashboard {
    background-size: 70%;
  }
  /* line 4, ../sass/media/768px.scss */
  #dashboard .dash__img {
    order: 1;
  }
  /* line 6, ../sass/media/768px.scss */
  #dashboard .dash__img img {
    width: 50%;
  }
  /* line 9, ../sass/media/768px.scss */
  #dashboard .dash__img .img-1 {
    position: relative;
    z-index: 10;
  }
  /* line 13, ../sass/media/768px.scss */
  #dashboard .dash__img .img-2 {
    position: absolute;
    top: 20px;
    left: 38% !important;
    z-index: 9;
  }
  /* line 20, ../sass/media/768px.scss */
  #dashboard .dash__text {
    order: 0;
  }
  /* line 22, ../sass/media/768px.scss */
  #dashboard .dash__text img {
    width: 60%;
    margin: 0;
    padding: 0;
  }
}
/* line 20, ../sass/main.scss */
#orange-img {
  background-color: #171717;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 25, ../sass/main.scss */
#orange-img img {
  width: 100%;
}
