@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000;
  overflow-x: hidden;
  position: relative;
  font-family: "Muli", sans-serif; }

@keyframes updown {
  0% {
    height: 750px; }
  25% {
    height: 765px; }
  50% {
    height: 780px; }
  75% {
    height: 765px; }
  100% {
    height: 750px; } }
@keyframes button-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes updownphone {
  0% {
    top: 0px; }
  25% {
    top: 20px; }
  50% {
    top: 40px; }
  75% {
    top: 20px; }
  100% {
    top: 0px; } }
@keyframes updownscroll {
  0% {
    bottom: 100px; }
  25% {
    bottom: 90px; }
  50% {
    bottom: 80px; }
  75% {
    bottom: 90px; }
  100% {
    bottom: 100px; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: translateZ(0); } }
.background-img-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
  width: 45%;
  height: 780px;
  animation: updown 4s infinite; }

.background-img-2 {
  position: absolute;
  left: -300px;
  width: 100vw;
  top: 10%;
  z-index: -100; }

.background-img-3 {
  position: absolute;
  right: 0;
  top: 32%;
  z-index: -90; }

.background-img-4 {
  position: absolute;
  left: 0;
  top: 43%;
  z-index: -90; }

.background-img-5 {
  position: absolute;
  right: 0;
  top: 63%;
  z-index: -90; }

.background-img-6 {
  position: absolute;
  right: 0;
  top: 90%;
  z-index: -100; }

.big-nav-items {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  z-index: 1000;
  padding: 50px;
  transition: all 1s ease; }
  .big-nav-items .heading {
    font-weight: 800;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px; }
    .big-nav-items .heading::after {
      content: "";
      position: absolute;
      width: 80px;
      background-color: #f5c55e;
      height: 20px;
      bottom: 0;
      left: 0;
      z-index: -1; }
  .big-nav-items .desc {
    opacity: 0.5; }
  .big-nav-items hr {
    margin-top: 50px;
    margin-bottom: 50px; }
  .big-nav-items .lists {
    list-style-type: none; }
    .big-nav-items .lists .list-item {
      margin: 20px 0;
      font-weight: 700;
      font-size: 1.5em; }
  .big-nav-items .mail,
  .big-nav-items .pnumber {
    opacity: 0.6;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0; }

.navbar-dark {
  background-color: transparent;
  position: relative; }
  .navbar-dark .navbar-brand {
    font-weight: 900;
    font-family: "Muli", sans-serif;
    font-size: 40px; }
    .navbar-dark .navbar-brand::after {
      content: "";
      width: 50px;
      height: 12px;
      position: absolute;
      bottom: 25px;
      left: 10px;
      z-index: -1;
      background-color: #ffc050; }
  .navbar-dark .navbar-toggler {
    border: none;
    color: #fff; }
    .navbar-dark .navbar-toggler:focus {
      outline: none; }
  .navbar-dark .navbar-nav .nav-item {
    margin: 10px; }
    .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu {
      display: block; }
      .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 700;
        font-family: "Muli", sans-serif;
        font-size: 13px; }
    .navbar-dark .navbar-nav .nav-item .nav-link {
      color: #fff !important;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-weight: 700;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 13px; }
      .navbar-dark .navbar-nav .nav-item .nav-link button {
        background-color: #ff786f;
        border: none;
        border-radius: 99em;
        padding: 10px 15px;
        color: #fff !important;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 13px;
        height: 100%;
        max-height: 88px; }
        .navbar-dark .navbar-nav .nav-item .nav-link button:hover {
          background: linear-gradient(270deg, #ff786f, #4347ea);
          background-size: 400% 400%;
          animation: button-background 3s ease infinite; }
      .navbar-dark .navbar-nav .nav-item .nav-link .fa-bars {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        font-size: 25px;
        font-weight: 200; }

.display-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; }
  .display-section .img-container {
    position: relative;
    top: 0;
    left: 0; }
    .display-section .img-container .img-top {
      width: 270px;
      position: relative;
      top: 0;
      left: 0;
      animation: updownphone 10s infinite; }
    .display-section .img-container .img-bottom {
      width: 270px;
      position: absolute;
      top: 30px;
      left: 200px;
      z-index: -100;
      animation: updownphone 7s infinite; }
  .display-section .main-text {
    position: relative;
    font-size: 60px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .display-section .main-text .dash-back::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 70%;
      height: 20px;
      background-color: #ff786f;
      z-index: -1; }
  .display-section .small-text {
    margin: 50px 0;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue"; }
  .display-section .scroll-icon {
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff;
    animation: updownscroll 7s infinite; }
    .display-section .scroll-icon img {
      width: 50%; }

.counter-section {
  display: flex;
  align-items: center;
  height: 40vh; }
  .counter-section .counter h1,
  .counter-section .name p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-weight: 900; }
  .counter-section .name p {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1.1px; }

.unique-features {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff; }
  .unique-features .heading {
    margin: 30px;
    font-weight: 800; }
    .unique-features .heading .unique::after {
      content: "";
      position: absolute;
      top: 150px;
      left: 36%;
      width: 135px;
      height: 20px;
      background-color: #ff786f;
      z-index: -1; }
  .unique-features .col-md-4 {
    padding: 20px; }
  .unique-features .title h1 {
    font-size: 1.5em; }
  .unique-features .desc p {
    font-size: 0.9em; }
  .unique-features .icon {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffc050; }

.phone {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .phone__img {
    width: 105%;
    animation: fadeInLeft 1s 1; }
  .phone .text {
    animation: updownscroll 9s infinite; }
  .phone__heading {
    position: relative;
    margin: 50px 0;
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4; }
    .phone__heading .connect::before {
      content: "";
      position: absolute;
      background-color: #ff786f;
      height: 20px;
      width: 4em;
      top: 0.9em;
      z-index: -1; }
  .phone__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .phone__list {
    list-style-type: none; }
    .phone__list__item {
      color: #fff;
      margin: 5px; }
  .phone__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff; }
    .phone__button.btn-primary:hover {
      background-color: #c5933b; }

.video {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .video video {
    width: 720px;
    height: 600px; }
  .video__heading {
    width: 75%;
    color: #fff;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-size: 3em;
    position: relative; }
    .video__heading .action::after {
      content: "";
      background-color: #ff786f;
      position: absolute;
      width: 3.2em;
      height: 20px;
      z-index: -1;
      bottom: 10px;
      left: 0; }
  .video__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .video__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff; }
    .video__button.btn-primary:hover {
      background-color: #c5933b; }

.post {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .post__section {
    margin-bottom: 50px; }
  .post__heading {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px; }
  .post__desc {
    margin-bottom: 50px; }
  .post .card {
    background-color: transparent;
    border-radius: 5px;
    color: #fff; }
    .post .card img {
      border-radius: 5px; }
    .post .card .small {
      font-size: 0.7em;
      opacity: 0.7; }
    .post .card .btn {
      padding: 0;
      font-size: 0.7em;
      font-weight: 800;
      text-transform: uppercase; }
    .post .card__button {
      background-color: transparent;
      border: none; }
  .post__more .btn {
    padding: 0;
    font-size: 0.7em;
    font-weight: 800;
    text-transform: uppercase; }
    .post__more .btn:hover {
      background-color: transparent; }
  .post__more p {
    background-color: transparent;
    border: none; }

.ffooter {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .ffooter::after {
    position: absolute;
    top: 120px;
    left: -280px;
    content: "";
    z-index: -100;
    width: 100vw;
    height: 100px;
    background-color: #ff786f; }
  .ffooter p {
    color: #fff;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 800; }
  .ffooter .img-holder {
    display: flex; }

footer {
  height: 100px;
  color: #fff; }
  footer .icons {
    float: right;
    color: #000;
    display: flex; }
    footer .icons .icon {
      background-color: #fff;
      padding: 10px;
      border-radius: 50%;
      z-index: -100;
      font-size: 20px;
      margin: 5px;
      width: 50px;
      text-align: center; }

@media (max-width: 768px) {
  .scroll-icon {
    display: none; }

  .background-img-1 {
    width: 70% !important;
    height: 50% !important; }

  .counter-section {
    height: 100vh; } }

/*# sourceMappingURL=main.css.map */
