* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000;
  overflow-x: hidden;
  position: relative; }

.background-img-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
  width: 45%;
  height: 65%; }

.navbar-dark {
  background-color: transparent;
  position: relative; }
  .navbar-dark .navbar-brand {
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px; }
    .navbar-dark .navbar-brand::after {
      content: "";
      width: 50px;
      height: 12px;
      position: absolute;
      bottom: 20px;
      left: 10px;
      z-index: -1;
      background-color: #ffc050; }
  .navbar-dark .navbar-toggler {
    border: none;
    color: #fff; }
    .navbar-dark .navbar-toggler:focus {
      outline: none; }
  .navbar-dark .navbar-nav .nav-item {
    margin: 10px; }
    .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu {
      display: block; }
      .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 13px; }
    .navbar-dark .navbar-nav .nav-item .nav-link {
      color: #fff !important;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-weight: 700;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 13px; }
      .navbar-dark .navbar-nav .nav-item .nav-link button {
        background-color: #ff786f;
        border: none;
        border-radius: 99em;
        padding: 10px 15px;
        color: #fff !important;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 13px;
        height: 100%;
        max-height: 88px; }
        .navbar-dark .navbar-nav .nav-item .nav-link button:hover {
          background: linear-gradient(270deg, #ff786f, #4347ea);
          background-size: 400% 400%;
          animation: button-background 3s ease infinite; }
      .navbar-dark .navbar-nav .nav-item .nav-link .fa-bars {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        font-size: 25px;
        font-weight: 200; }

@keyframes button-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.display-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; }
  .display-section .img-container {
    position: relative;
    top: 0;
    left: 0; }
    .display-section .img-container .img-top {
      width: 270px;
      position: relative;
      top: 0;
      left: 0; }
    .display-section .img-container .img-bottom {
      width: 270px;
      position: absolute;
      top: 30px;
      left: 200px;
      z-index: -100; }
  .display-section .main-text {
    position: relative;
    font-size: 60px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .display-section .main-text .dash-back::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 85%;
      height: 20px;
      background-color: #ff786f;
      z-index: -1; }
  .display-section .small-text {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue"; }
  .display-section .scroll-icon {
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff; }
    .display-section .scroll-icon img {
      width: 50%; }

.counter-section {
  height: 100%; }
  .counter-section .counter h1,
  .counter-section .name p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-weight: 900; }
  .counter-section .name p {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1.1px; }

.unique-features {
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff; }
  .unique-features .heading {
    margin: 30px;
    font-weight: 800; }
  .unique-features .title h1 {
    font-size: 1.5em; }
  .unique-features .desc p {
    font-size: 0.9em; }
  .unique-features .icon {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffc050; }

.phone {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .phone__img {
    width: 100%; }
  .phone__heading {
    color: #fff;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4; }
  .phone__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .phone__list {
    list-style-type: none; }
    .phone__list__item {
      color: #fff;
      margin: 5px; }
  .phone__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff; }
    .phone__button.btn-primary:hover {
      background-color: #c5933b; }

.video {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .video__heading {
    color: #fff;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4; }
  .video__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .video__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff; }
    .video__button.btn-primary:hover {
      background-color: #c5933b; }

.post {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .post__section {
    margin-bottom: 50px; }
  .post__heading {
    text-align: center;
    margin-bottom: 30px; }
  .post__desc {
    margin-bottom: 50px; }
  .post .card {
    background-color: transparent;
    border-radius: 5px;
    color: #fff; }
    .post .card img {
      border-radius: 5px; }
    .post .card .small {
      font-size: 0.7em;
      opacity: 0.7; }
    .post .card .btn {
      padding: 0;
      font-size: 0.7em;
      font-weight: 800;
      text-transform: uppercase; }
    .post .card__button {
      background-color: transparent;
      border: none; }
  .post__more .btn {
    padding: 0;
    font-size: 0.7em;
    font-weight: 800;
    text-transform: uppercase; }
    .post__more .btn:hover {
      background-color: transparent; }
  .post__more p {
    background-color: transparent;
    border: none; }

.ffooter {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ffooter p {
    color: #fff;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 800; }
  .ffooter .img-holder {
    display: flex; }

footer {
  height: 100px;
  color: #fff; }
  footer .icons {
    float: right;
    color: #000;
    display: flex; }
    footer .icons .icon {
      background-color: #fff;
      padding: 10px;
      border-radius: 50%;
      z-index: -100;
      font-size: 20px;
      margin: 5px;
      width: 50px;
      text-align: center; }

@media (max-width: 768px) {
  .scroll-icon {
    display: none; }

  .background-img-1 {
    width: 70% !important;
    height: 50% !important; }

  .counter-section {
    height: 100vh; } }

/*# sourceMappingURL=main.css.map */
