@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  position: relative;
  font-family: "Muli", sans-serif; }
  body h1 {
    font-size: 3em;
    font-weight: 800; }
  body p {
    font-size: 1em; }
  body a {
    color: #fff; }
    body a:hover {
      color: #ccc;
      text-decoration: none; }

@keyframes updown {
  0% {
    height: 750px; }
  25% {
    height: 765px; }
  50% {
    height: 780px; }
  75% {
    height: 765px; }
  100% {
    height: 750px; } }
@keyframes button-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes updownphone {
  0% {
    top: 0px; }
  25% {
    top: 20px; }
  50% {
    top: 40px; }
  75% {
    top: 20px; }
  100% {
    top: 0px; } }
@keyframes updownscroll {
  0% {
    bottom: 100px; }
  25% {
    bottom: 90px; }
  50% {
    bottom: 80px; }
  75% {
    bottom: 90px; }
  100% {
    bottom: 100px; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: translateZ(0); } }
.background-img-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
  width: 45%;
  height: 780px;
  animation: updown 4s infinite; }

.background-img-2 {
  position: absolute;
  width: 100vw;
  top: 25%;
  z-index: -100; }

.background-img-3 {
  position: absolute;
  right: 0;
  top: 32%;
  z-index: -90; }

.background-img-4 {
  position: absolute;
  left: 0;
  top: 43%;
  z-index: -90; }

.background-img-5 {
  position: absolute;
  right: 0;
  top: 63%;
  z-index: -90; }

.background-img-6 {
  position: absolute;
  top: 88%;
  z-index: -100; }

.background-img-7 {
  position: absolute;
  left: 0;
  top: 70%;
  z-index: -1500; }

.big-nav-items {
  color: #000;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  width: 500px;
  z-index: 1000;
  padding: 50px;
  animation: fadeInRight 0.3s 1; }
  .big-nav-items .heading {
    font-weight: 800;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px; }
    .big-nav-items .heading::after {
      content: "";
      position: absolute;
      width: 80px;
      background-color: #f5c55e;
      height: 20px;
      bottom: 0;
      left: 0;
      z-index: -1; }
  .big-nav-items .desc {
    opacity: 0.5; }
  .big-nav-items hr {
    margin-top: 50px;
    margin-bottom: 50px; }
  .big-nav-items a {
    color: #000; }
    .big-nav-items a:hover {
      opacity: 0.9; }
  .big-nav-items .lists {
    list-style-type: none; }
    .big-nav-items .lists .list-item {
      margin: 20px 0;
      font-weight: 700;
      font-size: 1.5em; }
  .big-nav-items .mail,
  .big-nav-items .pnumber {
    opacity: 0.6;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0; }

.small-nav-items {
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  padding: 50px;
  animation: fadeInRight 0.3s 1; }
  .small-nav-items h3 {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .small-nav-items .lists {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none; }
    .small-nav-items .lists .list-item {
      margin: 20px 0;
      font-weight: 700;
      font-size: 1.5em; }
  .small-nav-items a {
    color: #000; }
    .small-nav-items a:hover {
      text-decoration: none; }

.navbar-dark {
  background-color: transparent;
  position: relative; }
  .navbar-dark .navbar-brand {
    font-weight: 900;
    font-family: "Muli", sans-serif;
    font-size: 40px; }
    .navbar-dark .navbar-brand::after {
      content: "";
      width: 50px;
      height: 12px;
      position: absolute;
      bottom: 25px;
      left: 10px;
      z-index: -1;
      background-color: #ffc050; }
  .navbar-dark .navbar-toggler {
    border: none;
    color: #fff; }
    .navbar-dark .navbar-toggler:focus {
      outline: none; }
  .navbar-dark .navbar-nav .nav-item {
    margin: 10px; }
    .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu {
      display: block; }
      .navbar-dark .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 700;
        font-family: "Muli", sans-serif;
        font-size: 13px; }
    .navbar-dark .navbar-nav .nav-item .nav-link {
      color: #fff !important;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-weight: 700;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 13px; }
      .navbar-dark .navbar-nav .nav-item .nav-link button {
        background-color: #ff786f;
        border: none;
        border-radius: 99em;
        padding: 10px 15px;
        color: #fff !important;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-weight: 700;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 13px;
        height: 100%;
        max-height: 88px; }
        .navbar-dark .navbar-nav .nav-item .nav-link button:hover {
          background: linear-gradient(270deg, #ff786f, #4347ea);
          background-size: 400% 400%;
          animation: button-background 3s ease infinite; }
      .navbar-dark .navbar-nav .nav-item .nav-link .fa-bars {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        font-size: 25px;
        font-weight: 200; }

.display-section {
  margin: 100px 0;
  position: relative;
  height: 100%; }
  .display-section .img-container {
    position: relative;
    top: 0;
    left: 0; }
    .display-section .img-container .img-top {
      width: 270px;
      position: relative;
      top: 0;
      left: 0;
      animation: updownphone 10s infinite; }
    .display-section .img-container .img-bottom {
      width: 270px;
      position: absolute;
      top: 30px;
      left: 200px;
      z-index: -100;
      animation: updownphone 7s infinite; }
  .display-section .main-text {
    position: relative;
    font-size: 1.45em;
    line-height: 1.3; }
    .display-section .main-text .dash-back::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 70%;
      height: 20px;
      background-color: #ff786f;
      z-index: -1; }
  .display-section .small-text {
    margin: 50px 0;
    font-size: 1.3em;
    line-height: 1.3; }
  .display-section .scroll-icon {
    position: absolute;
    left: 50%;
    transform: translate(-70%, 200%);
    width: 100px;
    animation: updownscroll 2s infinite; }

.counter-section {
  height: 100%;
  margin: 200px 0 100px 0; }
  .counter-section p {
    font-size: 1.4em;
    font-weight: 700; }

.unique-features {
  height: 100%;
  position: relative;
  margin: 100px 0; }
  .unique-features h1 {
    font-weight: 800; }
  .unique-features .card {
    background-color: transparent;
    border: 0; }
    .unique-features .card .card-body * {
      margin: 10px 0; }
    .unique-features .card .card-body .icon {
      font-size: 3em;
      color: #fac365; }
    .unique-features .card .card-body h1 {
      font-size: 2em; }

.phone {
  height: 100%;
  margin: 200px 0 100px 0; }
  .phone__img {
    width: 100%;
    animation: fadeInLeft 1s 1; }
  .phone .text {
    animation: updownscroll 9s infinite; }
  .phone__heading {
    position: relative;
    margin: 0 0 20px 0; }
    .phone__heading .connect::before {
      content: "";
      position: absolute;
      background-color: #ff786f;
      height: 20px;
      width: 4em;
      top: 0.9em;
      z-index: -1; }
  .phone__desc {
    margin: 30px 0; }
  .phone__list {
    list-style-type: none; }
    .phone__list__item {
      margin: 10px 0; }
  .phone__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff; }
    .phone__button.btn-primary:hover {
      background-color: #c5933b; }

.video {
  height: 100%;
  margin: 100px 0; }
  .video video {
    width: 100%;
    cursor: pointer; }
  .video__heading {
    position: relative; }
    .video__heading .action::after {
      content: "";
      background-color: #ff786f;
      position: absolute;
      width: 3.2em;
      height: 20px;
      z-index: -1;
      bottom: 5px;
      left: 100px; }
  .video__desc {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .video__button {
    margin-top: 20px;
    border: none;
    border-radius: 64px;
    padding: 12px 20px;
    background-color: #ffc050;
    color: #fff; }
    .video__button.btn-primary:hover {
      background-color: #c5933b; }

.post {
  height: 100%;
  margin: 100px 0; }
  .post__heading {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
    position: relative; }
    .post__heading .back::before {
      content: "";
      position: absolute;
      background-color: #ff786f;
      width: 2.3em;
      height: 20px;
      z-index: -1;
      bottom: 0; }
  .post__desc {
    margin-bottom: 50px; }
  .post .card {
    background-color: transparent;
    border-radius: 5px;
    border: 0; }
    .post .card .card-body p.long {
      line-height: 1.8; }
    .post .card img {
      border-radius: 5px; }
    .post .card .small {
      font-size: 0.7em;
      opacity: 0.7; }
    .post .card .btn {
      padding: 0;
      font-size: 0.7em;
      font-weight: 800;
      text-transform: uppercase; }
    .post .card__button {
      background-color: transparent;
      border: none;
      color: #fff; }
      .post .card__button:hover .fa-chevron-right {
        margin-left: 5px;
        transition: margin 0.5s ease; }
  .post .more-post {
    margin-top: 100px;
    font-size: 1.2em; }
  .post__more .btn {
    padding: 0;
    font-size: 0.7em;
    font-weight: 800;
    text-transform: uppercase; }
    .post__more .btn:hover {
      background-color: transparent; }
      .post__more .btn:hover .fa-chevron-right {
        margin-left: 5px;
        transition: margin 0.5s ease; }
  .post__more p {
    background-color: transparent;
    border: none;
    font-size: 20px; }

.ffooter {
  height: 100%;
  position: relative;
  margin: 150px 0px; }

footer {
  height: 100%;
  margin: 50px 0; }
  footer .icons {
    float: right;
    color: #000;
    display: flex; }
    footer .icons .icon {
      background-color: #fff;
      padding: 10px;
      border-radius: 50%;
      z-index: -100;
      font-size: 20px;
      margin: 5px;
      width: 50px;
      text-align: center; }

.modal .modal-dialog {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important; }
  .modal .modal-dialog .modal-content {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: transparent !important; }
    .modal .modal-dialog .modal-content .modal-header {
      border: 0; }
      .modal .modal-dialog .modal-content .modal-header .close {
        font-weight: 400 !important;
        text-shadow: none !important;
        opacity: 1 !important;
        color: #fff; }
    .modal .modal-dialog .modal-content .modal-body {
      padding: 0; }

@media (max-width: 992px) {
  .show {
    display: none !important; } }
@media (max-width: 576px) {
  .about {
    margin: 50px 0; }

  .display-section h1 {
    font-size: 2em !important;
    font-weight: 700 !important; }

  .scroll-icon {
    display: none; }

  .counter-section div {
    margin: 20px 0; }

  .phone .text {
    margin-top: 100px !important; }

  .phone button {
    width: 100%; }

  .video button {
    width: 100%; }

  .video .video-container {
    margin-top: 100px; }

  .ffooter h1 {
    font-size: 2em; }
  .ffooter img {
    width: 50%; }

  .background-img-1 {
    width: 80%; }

  .background-img-2 {
    top: 27%; }

  .background-img-4 {
    top: 49%; }

  .background-img-5 {
    top: 60%; }

  .background-img-7 {
    top: 80%; }

  .background-img-6 {
    top: 94%; } }

/*# sourceMappingURL=main.css.map */
